
 :root {
    --bg-primary-color: #FDFCFD;
    --fnt-secondary-color: black;
}

[data-theme="dark"] {
    --bg-primary-color: black;
    --fnt-secondary-color: #ccc;
}

body {
background-color:var(--bg-primary-color);
font-family: 'Raleway', sans-serif;
color:var(--fnt-secondary-color);
}

nav{
    background-color: transparent;
}

h1,h2{
    text-transform: uppercase;
  }

h1{
  font-size: 36px;
  font-weight: 600;
}
h2{
    font-size: 24px;
    font-weight: 300; 
  }

  h3{
    font-size: 46px;
    font-weight: 300; 
  }

/* dark mode switch */
  .switch label input[type=checkbox]:checked+.lever {
    background-color: blue;
  }
  
  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: blue;
  }
/* dark mode switch ends */

  #dropdown1{
      background-color: var(--bg-primary-color);
  }

.btnContact {
    border: 1px solid blue;
    color:var(--fnt-secondary-color);
}

.profilePic{
    max-width: 150px;
    max-height: 150px;
    vertical-align:middle;
    margin-top:1vh;
}

.btnDown{
    vertical-align:middle;
    margin-top:10vh;
}
.btnDown2{
    vertical-align:middle;
    margin-top:1vh;
}

#mainText{
    margin-top: 10vh;
}

.lndng,.abt,.cntct,{
    height: 100vh;
    z-index: -1;
    min-height: auto;
}


.aboutMeArticle{
    font-weight: 300; 
}

#projHeader{
    font-size: small;
}

.peterPhoto{
    max-width: 150px;
    max-height: 150px;
}

.collapsible-header{
    text-align: center;
}

.contactContainer, .containerIntro,.containerProjects{
    margin-top: 10vh;
}

form{
    margin-top: 10vh;
}

  
/* this media query analyzes current user theme and switches theme automatically */

/*   
  @media screen and (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: #ccc;
    }

    .btnContact{
        color:#ccc;
        background-color: var(--bg-dark-primary-color);
    }

#dropdown1{
      background-color:black;

  }



}
 */
