
https://codepen.io/j_holtslander/pen/MRbpLX
https://stackoverflow.com/questions/14319274/change-css-properties-on-click


body {
background-color:#FDFCFD;
font-family: 'Raleway', sans-serif;

}

nav{
    background-color: transparent;
}

h1,h2{
    text-transform: uppercase;
  }

h1{
  font-size: 36px;
  font-weight: 600;
}
h2{
    font-size: 24px;
    font-weight: 300; 
  }

  h3{
    font-size: 46px;
    font-weight: 300; 
  }

  .btnContact {
    border: 1px solid blue;
}

.profilePic{
    max-width: 150px;
    max-height: 150px;
    vertical-align:middle;
    margin-top:1vh;
}

.btnDown{
    vertical-align:middle;
    margin-top:20vh;
}
.btnDown2{
    vertical-align:middle;
    margin-top:2vh;
}

#mainText{
    margin-top: 10vh;
}

.lndng,.abt,.proj,.cntct{
    height: 100vh;
    z-index: -1;
}

.aboutMeArticle{
    font-weight: 300; 
}

.peterPhoto{
    max-width: 300px;
    max-height: 300px;
}

.contactContainer, .containerIntro,.containerProjects{
    margin-top: 10vh;
}

form{
    margin-top: 10vh;
}

/* dark mode */


.dark {
    background-color: #202123;
    color: #fff;
    nav {
        background-color: #26A69A;
    }
    .card {
        background-color: rgba(255,255,255,0.2);
    }
    .btn {
        background-color: #EE6F73;
    }
    .divider {
        opacity: 0.2;
    }
    .sidenav {
        background-color: #2D2D31;
        li {
            a {
                &:not(.subheader){
                    color: #89B2F5;
                    &:hover {
                        background-color: #3B4043;
                    }
                }
                &.subheader {
                    color:#9AA0A6; 
                }
                .material-icons {
                    color: #9AA0A6;
                }
            }
        }
    }
    .collection {
        border: 1px solid rgba(255,255,255,0.2);
        .collection-item {
            background-color: rgba(255,255,255,0.2);
            border-bottom: 1px solid rgba(255,255,255,0.2);;
        }
    }
}
}